body{
    display: flex;
    flex-direction: row nowrap;
    justify-content: center;
    height: 90vh;
    width: 100vw;
    .btn{
        padding: 10px 20px;
        border-radius: 10px;
        cursor: pointer;
        border: none;
        user-select: none;
        background-color: #6400c2;
        color: white;
    }
    .left{
        width: 50%;
        padding-top: 12%;
        p{
            padding-bottom: 15px;
        }
    }
    .right{
        width: 50%;
        img{
            padding-top: 12vh;
            width: 80%;
            user-select: none;
        }
    }
}

