<body>
    <div class="left">
        <p style="font-size:32px" >Codemode - IT School</p>
        <p style="font-size:24px" >Success starts here</p>
        <p style="font-size:18px; width: 80%">Школа программирования на базе Казахстанско-Британского Технического Университета</p>
        <button class="btn">Записаться на курсы</button>
    </div>
    <div class="right">
        <img src="https://ouch-cdn2.icons8.com/_2uDJ10-ae2PpZyzobx2YJpqI5v-4c7IOzqWa9paqMQ/rs:fit:1368:912/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9zdmcvMzAx/L2Y1ZWI5ZGEwLTM3/ZWMtNDUxYy1iODNl/LTVjMzc1NGU5NjQx/NC5zdmc.png" alt="programming image">
    </div>
</body>
