@keyframes change {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

//Colors
$main-color: #4825c0;
$accent: #f01e61;
$accent-2: #d71f5a;

//Size variables
$window_w: 100vw;
$window_h: 100vh;
$screen: 416px;

//Header
$header_p_big: 18px;
$header_p_lil: 10px;
$header_i_big: 32px;
$header_i_lil: 20px;
$header_gap_big: 40%;
$header_gap_lil: 8%;
$header_right_gap_big: 9%;
$header_right_gap_lil: 5%;


//Footer
$footer_p_big: 16px;
$footer_p_lil: 9px;
$footer_i_big: 24px;
$footer_i_lil: 12px;
$footer_icons_lil: 16px;
$footer_gap_big: 25%;
$footer_gap_lil: 5%;


//Home
$home_title_big: 36px;
$home_title_lil: 24px;
$home_title_lil_big: 21px;
$home_title_lil_lil: 19px;
$home_p_big: 16px;
$home_i_big: 26px;
$home_i_lil: 20px;
$home_image_padding_big: 15%;
$home_image_width_big: 80%;

//Contacts
$contact_p_big: 18px;
$contact_p_lil: 22px;
$contact_i_big: 28px;
$contact_title_big: 36px;

//Courses
$course_title_big: 32px;
$course_title_lil: 22px;
$course_title_lil_lil: 12px;
$course_desc_big: 16px;
$course_desc_lil: 9px;
$course_price_big: 25px;
$course_price_lil: 10px;
$course_info_big: 20px;
$course_info_lil: 9px;
$courses_gap_big: 8%;
$course_gap_lil: 2%;
$course_each_v: 35vh;
$course_each_v_lil: 25vh;
$course_each_w: 21vw;
$course_each_w_lil: 32vw;
$course_logo_w: 4vw;
$course_logo_w_lil: 10vw;
$course_p_big: 16px;
$course_p_lil: 8px;
$course_i_lil: 20px;
