
<!-- <header>
  
  <p id="logo" routerLink=""><i class="material-icons">code</i>Codemode</p>

  <div class="right">
    <p routerLink="courses" routerLinkActive="active">Курсы</p>
    <p routerLink="tutors" routerLinkActive="active">Преподаватели</p>
    <p routerLink="info" routerLinkActive="active">Отзывы</p>
    <p routerLink="contacts" routerLinkActive="active">Контакты</p>
    <button class="btn login" [routerLink]="!logged ? ['/authorize'] : []" (click)="logged && logout()" role="button">
      <p *ngIf="!logged">Войти</p><p *ngIf="logged">Выйти</p><i class="material-icons login" *ngIf="!logged">login</i><i class="material-icons logout" *ngIf="logged">logout</i>
    </button>
    <button class="btn login" (click)="logout()" role="button">
      <p *ngIf="this.service.logged">Выйти</p><i class="material-icons logout" *ngIf="this.service.logged">logout</i>
    </button>
  </div>

</header> -->
<app-header></app-header>

<body>
  <router-outlet ></router-outlet>
</body>

<app-footer></app-footer>