<body>
    <div class="left">
        <p class="title" >Контакты</p>
        <div class="each">
            <i class="material-icons">location_on</i>
            <p><a href="https://go.2gis.com/cm2xk" style="text-decoration: none; ">Будущий Адрес</a></p>
        </div>
        <div class="each">
            <i class="material-icons">phone</i>
            <p>+7(708)178-02-47</p>
        </div>
        <div class="each">
            <i class="material-icons">telegram</i>
            <p><a href="https://t.me/codemodecpp" style="text-decoration: none;">Телеграм Менеджер</a></p>
        </div>
        <div class="each">
            <i class="material-icons">mail</i>
            <p>codemode@codemode.kz</p>
        </div>
       
    </div>
    <div class="right">
        <img src="http://school.iitu.edu.kz/themes/thebakerdev-zenii/assets/dist/images/contact.svg" alt="email image">
    </div>
</body>
