<body>
    <div class="each">
        <div class="main">
            <p class="title">{{tutor.name}}</p>
        </div>
        
        <div class="content">
            <p class="info">{{tutor.info}}</p>
            <p class="email">{{tutor.email}}</p>
            <p class="phones">{{tutor.phones}}</p>
            <a class="link" href="https://{{tutor.url}}">Telegram</a>
        </div>
    
        <button class="btn" routerLink="/authorize"><p>Записаться на курс</p></button>
    </div>
</body>

